html,
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}


.header div.header-wrap .head-h1 svg ,
footer div.footer-wrap .foot-h1 svg  {    color: #fff; transition: all 1s ease; }

.header.active-b div.header-wrap .head-h1 svg{    color: #000000; }
 footer.active-b div.footer-wrap .foot-h1 svg {    color: #000000; }
.header.active-c div.header-wrap .head-h1 svg{    color: #fff; }
 footer.active-c div.footer-wrap .foot-h1 svg {    color: #000000; }
.header.active-d div.header-wrap .head-h1 svg{    color: #fff; }
 footer.active-d div.footer-wrap .foot-h1 svg {    color: #000000; }

 footer.active-b div.footer-wrap .foot-h1 svg{ display: none; }
 footer.active-c div.footer-wrap .foot-h1 svg{ display: none; }
 footer.active-d div.footer-wrap .foot-h1 svg{ display: none; }

.header.active-b,
.header.active-c,
.header.active-d,
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 0px;
    padding: 0;
    margin: 0 auto;
    z-index: 100;
}

.header div.header-wrap {
    padding: 0;
    margin: 0 auto;
    position: relative;
    top: 0;
    width: 100%;
    height: 10vh;
    padding-top: 3vh;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center; align-items: center;
}



footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 0px;
    padding: 0;
    margin: 0 auto;
    z-index: 100;

}

footer div.footer-wrap {
    padding: 0;
    margin: 0 auto;
    position: relative;
    bottom:0;
    transform: translateY(-100%);
    width: 100%;
    height: 10vh;
    padding-bottom: 2vh;

    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;    align-items: center;
}










/*
.container-a img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}*/
.container-a {
    background: #1e2127;
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: block;
}
.container-a .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container-a .inner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 1.8em;
}


.container-a .wrap-mo {
    width: 86vw;  -width: 100vw; -width: 0;   width: 100vw;
    height: 76vh;  -height:100vh; -height:0;  height:100vh;
    border-radius: .4em; -border-radius:0em;  border-radius:0em;
}
.container-a .wrap-pc {
    width: 100vw;              -width: 0;
    max-width: 1850px;       -max-width: 100vw;  
    height: 82vh;            -height:100vh;
    border-radius: .4em;   -border-radius:0em;
}


.wrap-mo .swiper,
.wrap-pc .swiper {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);


}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}




/* PC */
@media (min-width: 1680px) {

    /* PC 전용 스타일 */
    .container-a .wrap-mo {        display: none;    }
    .container-a .wrap-pc {        display: block;    }

    .container-a .inner-text {    font-size: 2.2em;}
}
/* Tablet */
@media (max-width: 1280px) {

    /* 태블릿 전용 스타일 */
    .container-a .wrap-mo {        display: none;    }
    .container-a .wrap-pc {        display: block;    }      
    .container-a .inner-text {    font-size: 2.4em;}

    .container-a .wrap-pc {
    width: 96vw;        -width: 100vw; -width: 1vw;
    height: 82vh;      -height:100vh;
    border-radius: .4em;   -border-radius:0em;
}
}
/* Mobile */
@media (max-width: 720px) {

    /* 모바일 전용 스타일 */
    .container-a .wrap-mo {        display: block;    }
    .container-a .wrap-pc {        display: none;    }    
    .container-a .inner-text {    font-size: 1.8em;}


}


 .header nav.nav { display: none;}

 footer nav.nav {
    display: block;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    background: rgb(0 0 0 / 10%);
    border-radius: 24px;
    width: 90%;
    max-width: 420px;
    /* padding: 6px 0; */
    position: fixed;
    bottom: -1.8em;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
    transition: all 1s ease;
}

 footer nav{  }
 footer.active-b nav.nav{bottom: 1.8em; }
 footer.active-c nav.nav{  bottom: 1.8em;}
 footer.active-d nav.nav{  bottom: 1.8em;}


 footer .nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

 footer .nav__item {
  flex: 1;
  text-align: center;
}

 footer .nav__link {
  display: flex;
  flex-direction: row;      /* 세로 → 가로 정렬 */
  justify-content: center;
  align-items: stretch;
  gap: 0.5em;
  padding: 0.4em 0 0.2em 0;
  font-size: 0.7em;
  color: #a8a8a8;
  text-decoration: none;
  border-radius: 16px;
  transition: all 0.3s ease;
}

 footer .nav__icon {
  font-size: 18px;
  margin-bottom: 3px;
}

/* 현재 페이지 */
 footer .nav__link[aria-current="page"] {
  -background: #6c47ff;
  color: #fff;
}
 footer .nav__link[aria-current="page"] .nav__icon {
  color: #fff;
}













.container-b {
  padding: 2em 0em;
  background: #fff;
}

.container-b {
  width: 100vw;
  height: 100vh;
}

.section-header {
  text-align: center;
  margin-bottom: 2em;
}
.section-header .title {
  font-size: 1.8em;
  font-weight: bold; margin-bottom: 0;
}
.section-header .subtitle {
  font-size: 1.05em;
  color: #777; margin-top: 0; margin-bottom: 3em;
}

.photo-section {
  margin-bottom: 2.5em;
}
.photo-title {
    position: relative;
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 0.5em;
  width: fit-content;
}
.photo-title span {

  color: #616161;
  width: 1.6em;
  height:1.6em;
  background-color: #ebebeb;
  border-radius: 1rem;
  font-size: .5em;
  line-height: 1.5;
  box-sizing: border-box;
  padding: .2em 0 0 0 ;
  font-weight: 500;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(120%,-10%);


}

.slide-card {
  border-radius: 12px;
  overflow: hidden;
  background: #f8f8f8;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1); 
}
.slide-image img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.slide-text {
    text-align: center;
    color: #444;
    padding: .5em;
    font-size: .85em;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    /* background-color: #ffffff6b; */
    color: #fff;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0 0 0 / 49%) 70%, rgb(0 0 0 / 60%) 100%);
    box-sizing: border-box;
    padding: 1em 1em;
    border-radius: 12px;
}
.photo-swiper .swiper-slide{ overflow: hidden;}

.photo-title,
.photo-swiper .swiper-slide:first-child {
  margin-left: 5vw;  /* 원하는 값 */
}













.container-d {
  position: relative;
  width: 100%;
  height: 100vh; /* 화면 전체 */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

/* 배경 이미지 */
.container-d img {
  position: absolute;
  inset: 0; /* top, right, bottom, left 0 */
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;


  filter:
    /* 노출 ↑ */ brightness(.88)
    /* 채도 ↑ */ saturate(.8)
    /* 온도 따뜻하게 */ sepia(-0.10) hue-rotate(6deg) saturate(0.95)
    /* 색조 미세 조정 */ hue-rotate(4deg);
}

/* 카드 */
.container-d .card {
    z-index: 10;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    color: #fff;
    box-sizing: border-box;
    background: rgba(17, 31, 26, .58);
    border-radius: 16px;
    width: 90%;
    max-width: 420px;
    padding: 2em 1.6em 1.6em;
    position: absolute;
    bottom: 10vh;
    transform: translateY(-0%);
}


/* 카드 헤더 */
.container-d .card-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}
.container-d .card-header svg{ height: 1.6em;
    display: block;
    width: 1.7em;
    font-size: 1em;
    transform: rotate(-45deg) translate(28%, -30%);
}
.container-d .card-header h2 {

      margin: 0;
    font-size: 1.3em;
    font-weight: 500; line-height: 1.34;
}

/* 소제목 */
.container-d .subtitle {
  margin: 0 0 16px;
      font-weight: 300;
    font-size: .60em;
}

/* 본문 텍스트 */
.container-d .desc {
  font-size: 12px;
  line-height: 1.5;
  margin: 0 0 16px;
  font-weight: 300;
}

/* 연락처 */
.container-d .contact {
  display: flex;
  flex-direction: column;
  gap: 8px; flex-direction: row;
}

.container-d .contact-item {
    align-items: center;
    gap: 8px;
    font-size: .65em;
    display: flex;
    background-color: #ffffff17;
    border-radius: 5em;
    width: fit-content;
    line-height: 1.5;
    font-weight: 400;
    padding: .46em 1.6em .4em 0.6em;

}
.container-d .contact-item  svg{
    background-color: #00000059;
    border-radius: 5em;
    font-size: 1.6em;
    line-height: 2em;
  
    padding: .3em;
}





.container-c{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background: #000;
}
.container-c {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  background: url("https://storage.googleapis.com/dorandoran-photo-mj/dorandoran/out/IMG_7702_-portrait.jpg") no-repeat center center / cover fixed;
}



.container-c img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.container-c .card {
  position: relative;
  z-index: 10;
  background: rgba(44, 39, 62, .88);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  padding: 0px;
  margin: 0px auto;
  width: 100%;
  max-width: 480px;
  color: #fff;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.6;

  text-align: center;
  padding-top: 6em;
  text-align: center;
  font-weight: 300;
}
.container-c .card *{ font-weight: 100; list-style: none;  margin: 0 auto; font-size: .75rem; padding: 0;
line-height: 1.6;
}
.container-c .card svg{ font-size: 1.1rem; position: relative; top: .25em;}    

.container-c .card .info{  
    display: flex;
        justify-content: center;
    gap: 2em;



}


.container-c .card .btn{
     display: block;
    border-radius: 2em;
    font-family: pretendard;
    padding: .20em 0.8em .20em 1.6em;
    border: 0;
    background-color: #5f5f5fa3;
    margin-top: 1em;
    color: #fff;
}

.container-c .card .features,
.container-c .card .features-right,
.container-c .card .features-right-subtitle{
    display: block;
    width: 280px;
    word-break: keep-all;
}

.container-c .card .features-right,
.container-c .card .features-right-subtitle{

    text-align: left;
}


.container-c .card .info li{  width: fit-content; display: block; margin: 0; }

.container-c .card .price thead{ 
        display: block;
    border-bottom: 1px solid #fff;
    

}

.container-c .card .price th svg{ top: 0; margin: 0; margin-right: .2em;}
.container-c .card .price th,
.container-c .card .price td{
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: .2em .4em;


}
.container-c .card .price thead tr th,
.container-c .card .price tbody tr td{ width: 20%;   box-sizing: border-box; font-size: 0.9em;
    min-width: 6.1em;

}


.container-c .card .price thead tr th:first-child{ text-align: right;}
.container-c .card .price tbody tr td:first-child{text-align: right;padding-left: 1.6em; }



.container-c .card .title {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  font-weight: bold;
  margin: 16px 0 8px;
  margin: 0 auto;
  width: fit-content;   padding-top: 3em;
}
.container-c .card .subtitle{ margin: 0; padding: 0;}

.container-c .card h3{ font-weight: 400;}



.container-c .noticeTitle{width: 280px; text-align: left; margin-bottom: 1em; padding-left: .6em;}
.container-c ul.notice {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 280px;
    text-align: left;
    word-break: keep-all;
    gap: 1em 0;
    text-align: left;
    padding-bottom: 4em;

}


.container-c .notice li { text-align: left;
    display: flex; width: 100%;
    padding-left: 2em;
    box-sizing: border-box;

}
.container-c .notice li::before {
    content: "•";
    position: absolute;
    margin-left: -1.2em;
    color: #fff;
}
